- service_desk_enabled = @project.service_desk_enabled?

- can_edit_project_settings = can?(current_user, :admin_project, @project)
- title_text = s_("ServiceDesk|Use Service Desk to connect with your users and offer customer support through email right inside GitLab")

.non-empty-state.media
  .svg-content
    = render partial: 'shared/empty_states/icons/service_desk_callout', formats: :svg

  .gl-mt-3.gl-ml-3
    %h5= title_text

    - if can_edit_project_settings && service_desk_enabled
      %p
        = s_("ServiceDesk|Your users can send emails to this address:")
        %code= @project.service_desk_address

    %span= s_("ServiceDesk|Issues created from Service Desk emails will appear here. Each comment becomes part of the email conversation.")
    = link_to _('Learn more.'), help_page_path('user/project/service_desk')

    - if can_edit_project_settings && !service_desk_enabled
      .gl-mt-3
        = link_to s_("ServiceDesk|Enable Service Desk"), edit_project_path(@project), class: 'gl-button btn btn-success'
